img.fragment.logo {
	border: none;
	background: none;
	box-shadow: none;
	max-width: none;
	max-height: none;
}

.reveal .slides section img.fragment.logo.drop {
	opacity: 1;
	visibility: hidden;
	width: 1000px;
	transition: all 500ms cubic-bezier(0.33333, 0, 0.66667, 0.33333);
}
.reveal .slides section img.fragment.logo.drop.visible {
	visibility: visible;
	width: 200px;
}
